.half-two::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.mobile-view {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

.page-container {
  height: 100vh;
  display: flex;
  position: relative;
}

.half-one {
  width: 40%;
  background-color: #551196;
  position: relative;
  height: 100vh;
}

.half-two {
  width: 60%;
  background-color: #c6c6c8;
  height: 100vh;
  /* overflow: auto; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.half-two-test {
  height: 700vh;
  width: 100%;
}
.circle {
  width: 400px;
  height: 400px;
  background-color: #551196;
  position: absolute;
  top: 100px;
  right: -20%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  margin-top: 40px;
  z-index: 10;
}

/* ------------------------------------- */
html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle,
.half-circle-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform-origin: right center;
}

.half-circle:nth-child(1) {
  background-color: #0189ff;
}

.half-circle:nth-child(2) {
  background-color: #0189ff;
}

.half-circle-top {
  background-color: #fff;
}

.progressbar:hover .half-circle:nth-child(1) {
  /* transform: rotate(180deg); */
  /* transition: transform 1s linear; */
}

.progressbar:hover .half-circle:nth-child(2) {
  /* transform: rotate(360deg); */
  /* transition: transform 2s linear; */
}

.progressbar:hover .half-circle-top {
  /* opacity: 0; */
  /* transition: opacity 0s 1s; */
}

.progressbar-circle {
  background-color: #551196;
  width: 34.4rem;
  height: 34.4rem;
  border-radius: 50%;
  color: #fff;
  font-size: 4rem;
  z-index: 10;
  position: absolute;
}

.progressbar {
  width: 35rem;
  height: 35rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.breaking-container {
  width: 41rem;
  height: 41rem;
  position: relative;
}

.s-circle-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 100%;
}

.s-circle {
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 100%;
  z-index: 1000;
}

.s-circle-1 {
  grid-column: 6/8;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  margin-bottom: 7px;
  margin-left: 1px;
  /* margin-bottom: 6px; */
  background-color: #0189ff;
}
.s-circle-2 {
  grid-column: 10/11;
  grid-row: 3/4;
  justify-self: end;
  align-self: end;
  margin-right: 5px;
  margin-bottom: 15px;
}

.s-circle-3 {
  grid-column: 12/13;
  grid-row: 6/8;
  justify-self: center;
  align-self: center;
  margin-right: 18px;
}

.s-circle-4 {
  grid-column: 10/11;
  grid-row: 10/11;
  justify-self: end;
  align-self: start;
  margin-right: 5px;
  margin-top: 15px;
}
.s-circle-5 {
  grid-column: 6/8;
  grid-row: 11/13;
  justify-self: center;
  align-self: center;
  margin-top: 6px;
}
.s-circle-6 {
  grid-column: 2/4;
  grid-row: 10/11;
  justify-self: center;
  align-self: center;
  margin-left: 27px;
  margin-top: 12px;
}

.s-circle-7 {
  grid-column: 1/2;
  grid-row: 6/8;
  justify-self: end;
  align-self: center;
  margin-right: 3px;
  margin-top: 2px;
  position: relative;
}
.s-circle-1,
.s-circle-7 {
  z-index: 1001;
}

button {
  position: sticky;
  top: 0;
}

/* -------------------------- */
.content-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  z-index: 11;
  position: relative;
}

.main-title {
  background-color: #551196;
  margin-top: 220px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.main-title-content {
  color: #fff;
  /* margin-right: 65px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

/* .main-title-content h3 {
  font-size: 20px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.main-title-content h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 0;
  margin: 5px;
} */
/* .third-line {
  align-self: end;
} */

.slide-1-title {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.slide-2-title {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-left: 50px;
}
.slide-3-title {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-left: 50px;
}
.slide-4-title {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-left: 50px;
}
.slide-5-title {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-left: 50px;
}
.slide-6-title {
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding-left: 50px;
}
.slide-7-title {
  display: none;
  height: 240px;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}

.slide-1-title-h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.slide-1-title-h3 {
  font-size: 20px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  align-self: end;
}
/* ------- */
.slide-2-title-h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.slide-2-title-h3-1,
.slide-2-title-h3-2 {
  font-size: 20px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.slide-2-title-h3-2 {
  align-self: end;
}
/* ------- */
.slide-3-title-h3-1,
.slide-3-title-h3-2 {
  font-size: 23px;
  font-weight: 100;
  padding: 5px 0 5px 0;
  margin: 0;
}
.slide-3-title-h3-2 {
  align-self: end;
}
/* ----------------------------------------- */
.slide-1-paragrph {
  display: block;
}
.slide-2-paragrph {
  display: none;
}
.slide-3-paragrph {
  display: none;
}
.slide-4-paragrph {
  display: none;
}
.slide-5-paragrph {
  display: none;
}
.slide-6-paragrph {
  display: none;
}
.slide-7-paragrph {
  display: none;
}
.slide-paragrph {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
}
.slide-1-paragrph-img {
  margin: 0;
  padding: 0;
}
.slide-paragrph-title {
  font-size: 60px;
  color: #fff;
  margin: 0;
  margin-top: 20px;
}
.slide-paragrph-paragrph {
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 120px;
}

.action-sec {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
}
.action {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon {
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skip {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------- */

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6,
.slide-7 {
  scroll-snap-align: start;
}
.slide-1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-1 img {
  width: 427px;
  height: 714px;

  margin: 0;
  padding: 0;
}

.slide-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.slide-2 img {
  width: 367px;
  height: 664px;
  margin: 0;
  padding: 0;
}

.slide-2-img-1 {
  align-self: flex-end;
}
.slide-2-img-2 {
  align-self: flex-start;
}

.slide-3 {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.slide-3 img {
  /* width: 367px;
  height: 664px; */
}

.slide-3-img-1 {
  align-self: end;
  width: 367px;
  height: 664px;
  margin-left: 250px;
}
.slide-3-img-2 {
  align-self: flex-start;
  width: 280px;
  height: 503px;
  margin-right: 50px;
  /* justify-self: ; */
}

.slide-4 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: space-between;
  overflow: hidden;
}

.slide-4-img-1 {
  grid-column: 1/5;
  grid-row: 1/5;
}
.slide-4-img-2 {
  grid-column: 2/6;
  grid-row: 6/12;
  margin-left: 33px;
}
.slide-4-img-3 {
  grid-column: 7/11;
  grid-row: 2/9;
}
.slide-4-img-4 {
  grid-column: 11/13;
  grid-row: 1/3;
  align-self: start;
}
.slide-4-img-5 {
  grid-column: 9/12;
  grid-row: 10/13;
  align-self: start;
}

.slide-5 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  justify-content: space-between;
  overflow: hidden;
}

.slide-5-img-1 {
  grid-column: 3/7;
  grid-row: 1/5;
}
.slide-5-img-2 {
  grid-column: 3/7;
  grid-row: 7/12;
  margin-left: 10px;
}
.slide-5-img-3 {
  grid-column: 7/11;
  grid-row: 1/8;
  margin-left: 10px;
}
.slide-5-img-4 {
  grid-column: 7/11;
  grid-row: 7/12;
  align-self: start;
}
.slide-5-img-5 {
  grid-column: 11/14;
  grid-row: 4/12;
  /* align-self: start;
  justify-self: center; */
  margin-top: 10px;
}

.slide-6 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide-6-img-1 {
  scale: 110%;
}

.slide-7 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* justify-content: center;
  align-items: center; */
  overflow: hidden;
}

.slide-7 img {
  scale: 80%;
}

.slide-7-img-1 {
  grid-column: 4/8;
  grid-row: 1/11;
  z-index: 11;
  margin-left: 20px;
  margin-top: 50px;
}
.slide-7-img-2 {
  grid-column: 8/11;
  grid-row: 1/11;
  z-index: 10;
}

@media (max-width: 1578px) {
  .slide-1-paragrph-img {
    width: 284px;
    height: 80px;
  }

  .slide-1 img {
    width: 407px;
    height: 604px;

    margin: 0;
    padding: 0;
  }
  .slide-2 img {
    width: 307px;
    height: 604px;
    margin: 0;
    padding: 0;
  }
  .slide-3-img-1 {
    align-self: end;
    width: 307px;
    height: 604px;
    margin-left: 70px;
  }
  .slide-3-img-2 {
    align-self: flex-start;
    width: 220px;
    height: 443px;
    margin-right: 0;
    /* justify-self: ; */
  }
  .slide-3 {
    justify-content: center;
    /* justify-self: ; */
  }
  .slide-4 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: space-between;
    overflow: hidden;
  }

  .slide-4-img-1 {
    width: 353px;
    height: 217px;
  }
  .slide-4-img-2 {
    width: 298px;
    height: 475px;
    margin-left: 33px;
  }
  .slide-4-img-3 {
    width: 298px;
    height: 598px;
    grid-column: 7/11;
    grid-row: 2/9;
  }
  .slide-4-img-4 {
    width: 111px;
    height: 183px;
    align-self: start;
  }
  .slide-4-img-5 {
    width: 379px;
    height: 273px;
    align-self: start;
  }

  .slide-5-img-1 {
    width: 250px;
    height: 501px;
  }
  .slide-5-img-2 {
    margin-left: 0;
    width: 250px;
    height: 501px;
  }
  .slide-5-img-3 {
    margin-left: 0;
    width: 250px;
    height: 500px;
  }
  .slide-5-img-4 {
    width: 250px;
    height: 501px;
  }
  .slide-5-img-5 {
    width: 247px;
    height: 499px;
  }
  .slide-6-img-1 {
    width: 962px;
    height: 962px;
  }

  .slide-7 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .slide-7 img {
    scale: 80%;
  }

  .slide-7-img-1 {
    grid-column: 2/6;
    grid-row: 1/11;
    z-index: 11;
    margin-left: 20px;
    margin-top: 50px;
  }
  .slide-7-img-2 {
    grid-column: 7/10;
    grid-row: 1/11;
    z-index: 10;
  }
}
@media (max-width: 1278px) {
  .page-container {
    display: none;
  }
  .mobile-view {
    display: flex;
    flex-direction: column;
  }
}

.mobile-top {
  width: 100vw;
  height: 50vh;
  background: #c6c6c8;
}
.mobile-top img {
  width: 10px;
  height: 10px;
}
.mobile-bottom {
  width: 100vw;
  height: 50vh;
  background-color: #551196;
}
.mob-slide-1-top {
  background-color: #c6c6c8;
}
.mob-slide-1-bottom {
  background-color: #4e0e85;
  /* position: relative; */
}

.mobile-title {
  margin-left: 40px;
}
.mobile-paragraph {
  margin-left: 40px;
}

.mobile-action {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  margin-left: 40px;
}

.mob-slide-1-top {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.car-1 {
  display: flex;
  flex-direction: column;
}

.car-1 img {
  width: 50px;
  height: 50px;
}

.splide__arrows {
  display: none;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.top {
  width: 100vw;
  height: 50vh;
  background: lightcoral;
}
.bottom {
  width: 100vw;
  height: 50vh;
}

.green .top {
  background-color: lightgoldenrodyellow;
}
.green .bottom {
  background-color: lightgreen;
}

/* slide 1 */
.mob-slide-1-top {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #c3c3c5;
}
.mob-slide-1-top img {
  width: 337px;
  height: 624px;
}

.mob-slide-1-bottom {
  background-color: #551196;
  position: relative;
}

.mob-slide-1-img {
  position: absolute;
  bottom: 84%;
  background: #fff;
  margin-left: 80px;
}
.mob-slide-1-title {
  margin-left: 80px;
  margin-top: 80px;
}

.mob-slide-1-paragrph {
  margin-left: 80px;
  margin-top: 50px;
}
.mob-slide-1-action {
  margin-left: 80px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

/* slide 2 */

.mob-slide-2-top {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #1c0362;
  overflow: hidden;
}
.mob-slide-2-top img {
  width: 302px;
  height: 603px;
}

.mob-slide-2-bottom {
  background-color: #4826c5;
}

.mob-slide-2-title {
  margin-left: 80px;
  margin-top: 80px;
}

.mob-slide-2-paragrph {
  margin-left: 80px;
  margin-top: 50px;
}
.mob-slide-2-action {
  margin-left: 80px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}
.mob-slide-2-action span {
  border: 1px solid #c32182;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  background-color: #c32182;
}

/* slide 3 */

.mob-slide-3-top {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #131644;
}
/* .mob-slide-3-top img {
  width: 302px;
  height: 603px;
} */

.mob-slide-3-bottom {
  background-color: #0b0e32;
}

.mob-slide-3-title {
  margin-left: 80px;
  margin-top: 80px;
}

.mob-slide-3-paragrph {
  margin-left: 80px;
  margin-top: 50px;
}
.mob-slide-3-action {
  margin-left: 80px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
.mob-slide-3-action span {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;
  background-color: #fff;
  color: #000;
}

.mob-slide-3-top-1 {
  width: 269px;
  height: 617px;
}
.mob-slide-3-top-2 {
  width: 250px;
  height: 453px;
}

/* slide 4 */
.mob-slide-4-top {
  background-color: #0d131b;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* height: 100%; */
  overflow: hidden;
}

.mob-slide-4-bottom {
  background-color: #15253a;
  position: relative;
}

.mob-slide-4-img {
  position: absolute;
  bottom: 84%;
  background: #fff;
  margin-left: 80px;
}
.mob-slide-4-title {
  margin-left: 80px;
  margin-top: 80px;
}

.mob-slide-4-paragrph {
  margin-left: 80px;
  margin-top: 50px;
}
.mob-slide-4-action {
  margin-left: 80px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.mob-slide-4-top-1 {
  width: 167px;
  height: 125px;
  grid-column: 1/3;
  grid-row: 1/3;
  margin-bottom: 30px;
  /* display: none; */
}

.mob-slide-4-top-2 {
  width: 218px;
  height: 425px;
  /* display: none; */
  grid-column: 1/4;
  grid-row: 3/8;
  margin-top: 80px;
  margin-left: 40px;
}

.mob-slide-4-top-3 {
  width: 190px;
  height: 440px;
  /* display: none; */
  grid-column: 5/8;
  grid-row: 1/6;
  margin-bottom: 40px;
}

.mob-slide-4-top-4 {
  width: 161px;
  height: 101px;
  grid-column: 8/9;
  grid-row: 1/2;
  overflow: hidden;
}

.mob-slide-4-top-5 {
  /* width: 303px;
  height: 167px; */
  grid-column: 8/9;
  grid-row: 3/4;
  justify-self: end;
  margin-left: 70px;
  overflow: hidden;
}

.mob-slide-4-top-6 {
  /* width: 303px;
  height: 167px; */
  grid-column: 8/9;
  grid-row: 4/6;
  width: 279px;
  /* display: none; */
  width: 249px;
  height: 143px;
  align-self: end;
}

@media (min-width: 758px) {
  .mob-slide-4-top-1 {
    width: 167px;
    height: 125px;
  }

  .mob-slide-4-top-2 {
    width: 318px;
    height: 525px;
  }

  .mob-slide-4-top-3 {
    width: 290px;
    height: 540px;
  }

  .mob-slide-4-top-4 {
    width: 161px;
    height: 101px;
  }

  .mob-slide-4-top-5 {
    /* width: 303px;
    height: 167px; */
  }

  .mob-slide-4-top-6 {
    width: 279px;

    width: 249px;
    height: 143px;
  }
}

/* ----------------------------------------- */
/* slide 5 */

.mob-slide-5-top {
  background-color: #2dcddd;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  overflow: hidden;
}

.mob-slide-5-bottom {
  background-color: #115ed9;
  position: relative;
}

.mob-slide-5-img {
  position: absolute;
  bottom: 84%;
  background: #fff;
  margin-left: 80px;
}
.mob-slide-5-title {
  margin-left: 80px;
  margin-top: 80px;
}

.mob-slide-5-paragrph {
  margin-left: 80px;
  margin-top: 50px;
}
.mob-slide-5-action {
  margin-left: 80px;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.mob-slide-5-top-1 {
  width: 200px;
  height: 230px;
  grid-column: 1/3;
  grid-row: 1/4;
}

.mob-slide-5-top-2 {
  width: 200px;
  height: 441px;
  grid-column: 1/4;
  grid-row: 4/8;

  justify-self: start;
}

.mob-slide-5-top-3 {
  width: 200px;
  height: 380px;
  /* display: none; */
  grid-column: 3/6;
  grid-row: 1/5;
  justify-self: center;

  /* margin-bottom: 40px; */
}

.mob-slide-5-top-4 {
  width: 200px;
  height: 401px;
  grid-column: 3/6;
  grid-row: 5/8;
  overflow: hidden;
  /* display: none; */
  justify-self: center;
}

.mob-slide-5-top-5 {
  width: 203px;
  height: 444px;
  grid-column: 6/9;
  grid-row: 2/8;
  justify-self: end;
  /* margin-left: 70px; */
  overflow: hidden;
  /* display: none; */
}

@media (min-width: 702px) {
  .mob-slide-5-top-1 {
    width: 250px;
    height: 280px;
  }

  .mob-slide-5-top-2 {
    width: 250px;
    height: 471px;
  }

  .mob-slide-5-top-3 {
    width: 250px;
    height: 400px;
  }

  .mob-slide-5-top-4 {
    width: 250px;
    height: 431px;
  }

  .mob-slide-5-top-5 {
    width: 203px;
    height: 444px;
  }
}
